/*  your css code here. If applicable */
body{
	width:1100px
}
table{
	border:1px,solid,black;
	width:100%;
	border-collapse:collapse;
}
th, td {
            border: 1px solid black;
            padding: 1px;
}

.td1 img {
            width: 100%;
            height: auto;
            display: block;
        }

.td1{
	width:200px;
}
.td2{
	width:600px;
	text-align:center;
}